<ion-header>
  <ion-toolbar>
    <ion-title>New Label</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <p>Labels are used to group the password entries.</p>
  <ion-item lines="inset">
    <ion-label position="floating">Name</ion-label>
    <ion-input
      placeholder="Name"
      type="text"
      [(ngModel)]="label.labelName"
    ></ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-label position="floating">Icon</ion-label>
    <ion-select
      okText="Select"
      (ionChange)="selectIcon($event)"
      [ngModel]="label.icon"
    >
      <ion-select-option *ngFor="let icon of icons" [value]="icon"
        >{{ icon }}
      </ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="cancelLabel()" color="danger">Cancel</ion-button>
      <ion-button (click)="saveLabel()" color="success">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
