<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ label }}</ion-title>
    <ion-buttons slot="end">
      <ion-button tooltip="Create entry" (click)="createEntry()"
        ><ion-icon name="add-outline"></ion-icon
      ></ion-button>
      <ion-button
        [disabled]="selectedIndex === undefined"
        tooltip="Copy username"
        (click)="copyUsername()"
        ><ion-icon name="person-outline"></ion-icon
      ></ion-button>
      <ion-button
        [disabled]="selectedIndex === undefined"
        tooltip="Copy password"
        (click)="copyPassword()"
        ><ion-icon name="key-outline"></ion-icon
      ></ion-button>
      <ion-button
        [disabled]="selectedIndex === undefined"
        tooltip="Open URL"
        (click)="openURL()"
        ><ion-icon name="globe-outline"></ion-icon
      ></ion-button>
      <ion-button
        [disabled]="selectedIndex === undefined"
        tooltip="Open details"
        [routerLink]="'/details/' + selected?.id"
        ><ion-icon name="pencil-outline"></ion-icon
      ></ion-button>
      <ion-searchbar
        show-clear-button="focus"
        [debounce]="1000"
        (ionChange)="searchEntry($event)"
      ></ion-searchbar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ label }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid class="ion-margin">
    <ion-item lines="full" #colid>
      <ion-col size="2">
        <ion-label>
          <h1>Title</h1>
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label>
          <h1>Username</h1>
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label>
          <h1>Password</h1>
        </ion-label>
      </ion-col>
      <ion-col size="4">
        <ion-label>
          <h1>URL</h1>
        </ion-label>
      </ion-col>
    </ion-item>
    <ion-item
      *ngFor="let password of displayedPasswords; index as i"
      button
      (click)="select(password, i)"
      (contextmenu)="contextClick($event)"
      lines="full"
      [color]="selectedIndex === i ? 'primary' : ''"
    >
      <ion-col size="2">{{ password.title }}</ion-col>
      <ion-col>{{ password.username }}</ion-col>
      <ion-col
        >&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;</ion-col
      >
      <ion-col size="4">{{ password.url }}</ion-col>
    </ion-item>
  </ion-grid>
</ion-content>
